/*============================*/
/* Regular costomers */
/*============================*/
.clients__section {
  padding: 94px 0;
}

.clients__titel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  height: 92px;
  margin: 15px;
  -webkit-transition: color 250ms var(--accent-cl), background-color 250ms var(--accent-cl), -webkit-box-shadow 250ms var(--accent-cl);
  transition: color 250ms var(--accent-cl), background-color 250ms var(--accent-cl), -webkit-box-shadow 250ms var(--accent-cl);
  transition: color 250ms var(--accent-cl), background-color 250ms var(--accent-cl), box-shadow 250ms var(--accent-cl);
  transition: color 250ms var(--accent-cl), background-color 250ms var(--accent-cl), box-shadow 250ms var(--accent-cl), -webkit-box-shadow 250ms var(--accent-cl);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:last-child {
  margin-right: 0px;
}
.clients__item:hover, .clients__item:focus {
  color: var(--accent-cl);
  border: 1px solid var(--accent-cl);
}

.clients__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 32px;
  -ms-flex-item-align: center;
      align-self: center;
  color: var(--icon-color);
  fill: currentColor;
  box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-color);
  fill: currentColor;
}
.clients__user:hover, .clients__user:focus {
  color: var(--accent-cl);
}

.clients__client:hover, .clients__client:focus {
  color: var(--accent-cl);
}/*# sourceMappingURL=clients.css.map */