/* МОДАЛЬНОЕ ОКНО */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    opacity: 1;
    transition: opacity 250ms var(--hover-cubic), visibility 250ms var(--hover-cubic);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -40%);
    opacity: 0;
}

.modal {
    position: absolute;
    width: 528px;
    top: 50%;
    left: 50%;
    padding: 40px;

    transform: translate(-50%, -50%);
    opacity: 1;
    transition: transform 250ms var(--hover-cubic), opacity 250ms var(--hover-cubic);

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal .btn.close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: color 250ms var(--hover-cubic);

    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;


    &:hover,
    &:focus {
        fill: var(--accent-cl);
    }
}

.modal .btn.close .icon {
    fill: currentColor;
}

.modal .modal-title {
    font-family: var(--main-font);
    display: block;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    margin-bottom: 12px;
    color: var(--text-black);
}

.modal .label,
.modal .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal .label {
    width: 100%;


    &:not(:nth-last-child(-n +3)) {
        margin-bottom: 10px;
    }
}

.modal .input-box {
    position: relative;
    width: 100%;
}

.modal .form .icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translatey(-50%);
}

.modal .label-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
    color: var(--text-grey);


    &:last-child {
        margin: 0;
    }
}

.modal .input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 12px;
    transition: border-color 250ms var(--hover-cubic);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;


    &:hover,
    &t:focus {
        border-color: var(--accent-cl);
        outline: 0px;
    }


    &:hover+.icon,
    &:focus+.icon {
        fill: var(--accent-cl);
    }
}

.modal .coment {
    margin-bottom: 20px;
}

.modal .textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;


    &:hover,
    &:focus {
        border-color: var(--accent-cl);
        outline: 0px;
    }

    &::placeholder {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}



.modal .confirm {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.modal .checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    fill: var(--white);


    &:checked+.custom-checkbox {
        fill: var(--accent-cl);
        border: 0;
    }

    &:focus+.custom-checkbox {
        border-color: aqua;

    }
}

.modal .custom-checkbox {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--black);
    border-radius: 2px;
    transition: var(--modal-transition);
    margin-right: 7px;
    transition: background-color 250ms var(--hover-cubic);

    fill: var(--white);
    
    
    &:focus+.custom-checkbox {
    border-color: var(--accent-cl);
}
}

.modal .confirm .label-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-left: 7px;

    color: var(--text-grey);
}

.modal .link-checkbox {
    color: var(--accent-cl);
}

.modal .form .btn {
    display: flex;
    align-items: center;
    padding: 10px 55px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color 250ms var(--hover-cubic);


    color: var(--white);
    background-color: var(--accent-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;


    &n:hover,
    &:focus {
        background-color: #188CE8;
    }
}

