.header__logo-top-line {
    display: block;
    
    
    @media screen and(max-width: 1199px){
        margin-left: 15px;
    }

    @media screen and(min-width: 1200px) {
        margin-right: 93px;
    }
}

.logo {
    box-sizing: border-box;
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    padding: 24px 0;

    color: var(--main-txt-cl);
    text-decoration: none;


}

.web {
    font-family: var(--secondary-font);
    color: var(--accent-cl);
}