:root {
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';

    /* text colors */
    --accent-cl: #2196F3;
    --main-txt-cl: #212121;
    ;
    --secondary-txt-cl: #757575;

    /* bacground colors */
    --white: #ffffff;
    --secondary-bg-cl: #E5E5E5;
    --black: #000000;

    --bg-dark: #2F303A;

    /* icon color */
    --icon-color: #AFB1B8;

    --bg-grey: #F5F4FA;
    --hover-cubic: cubic-bezier(0.4, 0, 0.2, 1)
}