/*============================*/
/* Regular costomers */
/*============================*/

.clients__section {
    // padding: 94px 0;

    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__titel {
    box-sizing: border-box;

    line-height: 1.17;

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    

    @media screen and(max-width:1200px) {
        margin-bottom: 50px;
    }
    
    @media screen and(max-width:1199px){
        margin-bottom: 30px;
    }

}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.clients__item {

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-basis: calc((100% - 60px) / 2);
    height: 92px;
    margin: 15px;

    transition: color border 250ms var(--accent-cl), background-color 250ms var(--accent-cl), box-shadow 250ms var(--accent-cl);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-cl);
    
    }

    @media screen and(min-width: 768px) {
        flex-basis: calc((100% - 90px) / 3)
    }

    @media screen and(min-width:1200px) {
        flex-basis: calc((100% - 180px) / 6)
    }
}
    


.clients__user {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    // padding: 16px 32px;
    width: 100%;
    height: 100%;

    align-self: center;
    color: var(--icon-color);
    fill: currentColor;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-cl);
        border: 1px solid var(--accent-cl);
    }
}

.clients__client{
    fill: currentColor;
}
