/*============================*/
/* Footer */
/*============================*/

.footer {
    background: #2F303A;
    padding: 60px 0;
}

.footer__container {
    

    @media screen and(min-width: 768px) and(max-width: 1199.98px){
        justify-content: space-around;
    
    }

    @media screen and(min-width: 1200px) {
            align-items: baseline;
            display: flex;
        }
}

.footer__blok {

    @media screen and(min-width: 480px){
    
        justify-content: center;
    }
    

    @media screen and(min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        
    }
    
    @media screen and(min-width: 1200px) {
        align-items: baseline;
        display: flex;
    }

}

.footer__logo {
    display: block;
    color: #FFFFFF;
    padding: 0;
}

.footer__list-container {
    
    @media screen and(max-width:767.98px){
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    @media screen and(min-width:768px) {
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and(min-width:1200px) {
        margin-right: 70px;
        text-align: left;
        margin-left: 0px;
    }
}

.footer__address {
    margin-top: 20px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer__item{

    margin-bottom: 8px;

    @media screen and(min-width:1200px){
        margin-bottom: 9px;
    }
}

.footer__item:last-child{
    margin-bottom: 0;
}

.footer__contakt {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}